<?xml version="1.0" encoding="UTF-8"?>
<!-- 日志级别从低到高分为TRACE < DEBUG < INFO < WARN < ERROR < FATAL，如果设置为WARN，则低于WARN的信息都不会输出 -->
<!-- scan:当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true -->
<!-- scanPeriod:设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。 -->
<!-- debug:当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。 -->
<configuration scan="true" scanPeriod="30 seconds">
    <contextName>authority</contextName>

    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{96} [TraceNo=%X{bussiness} reqURL=%X{reqUrl}] - %msg%n" />
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{120} [TraceNo=%X{bussiness} reqURL=%X{reqUrl}] - %msg%n" />
    <property name="LOG_HOME" value="/home/logs/authority" />
    <property name="maxHistory" value="30" />
    <property name="maxFileSize" value="20MB" />

    <!--输出到控制台 -->
    <appender name="COMMON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/common/authority-common.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/common/authority-common.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
            <maxFileSize>${maxFileSize}</maxFileSize>
        </rollingPolicy>
　　　　　
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
　　　　　</encoder>
　　　</appender>

    <appender name="MSG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/msg/authority-msg.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/msg/authority-msg.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
            <maxFileSize>${maxFileSize}</maxFileSize>
        </rollingPolicy>

        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        　　　
    </appender>

    <!--输出到控制台 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <!-- 设置字符集 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.cditer.free.web.aspect.LogInfo" additivity="false">
        <level value="debug" />
        <appender-ref ref="MSG_FILE" />
    </logger>

    <logger name="com.cditer.free.web.init.BaseServletContextInitializer" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="COMMON_FILE" />
    </logger>
    <logger name="com.cditer.free.web.listener.BaseApplicationListener" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="COMMON_FILE" />
    </logger>

    <logger name="org.quartz.core" additivity="false">
        <level value="ERROR" />
        <appender-ref ref="COMMON_FILE" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="COMMON_FILE" />
    </root>
</configuration>