<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE com.tennetcn.free.authority.mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-com.tennetcn.free.authority.mapper.dtd">
<com.tennetcn.free.authority.mapper namespace="com.tennetcn.free.authority.com.tennetcn.free.authority.mapper.IUserMapper">
	<sql id="tableName">base_authority_user user</sql>
	<sql id="mainTableAlias"> user.</sql>

	<select id="queryCountMP" resultType="int">
		select count(1) from
		<include refid="tableName" />
	</select>
	<select id="queryListMP" resultMap="userMap">
		select *,business.name as buName from
		<include refid="tableName" />
		left join base_authority_business business on
		loginUser.businessId=business.buid
	</select>

	<select id="queryListMPByIds" resultMap="userMap">
		select id,name from
		<include refid="tableName" />
		where id in
		<foreach item="item" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	<select id="getLoginUserNamesByIds" resultType="String">
		select name from
		<include refid="tableName" />
		where id in
		<foreach item="item" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
</com.tennetcn.free.authority.mapper>