<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cditer.free.message.mapper.IMessageTemplateMapper">
    <!-- 消息模板表Mapper -->
    <sql id="tableName">base_message_template messageTemplate</sql>
    <sql id="mainTableAlias"> messageTemplate.</sql>

    <sql id="allColumns">
        messageTemplate.id,
        messageTemplate.name,
        messageTemplate.title,
        messageTemplate.icon,
        messageTemplate.title_tpl,
        messageTemplate.content_tpl,
        messageTemplate.enabled,
        messageTemplate.type,
        messageTemplate.level,
        messageTemplate.rmrk,
        messageTemplate.rmrk1,
        messageTemplate.add_user_id,
        messageTemplate.add_date
    </sql>

    <resultMap type="com.cditer.free.message.entity.model.MessageTemplate" id="messageTemplateMap">
        <id column="id" property="id"/>    <!-- 主键 -->
        <result column="name" property="name"/>    <!-- 模板名称 -->
        <result column="title" property="title"/>    <!-- 标题 -->
        <result column="icon" property="icon"/>    <!-- 图标 -->
        <result column="title_tpl" property="titleTpl"/>    <!-- 标题模板 -->
        <result column="content_tpl" property="contentTpl"/>    <!-- 内容模板 -->
        <result column="enabled" property="enabled"/>    <!-- 是否启用 -->
        <result column="type" property="type"/>    <!-- 类型 -->
        <result column="level" property="level"/>    <!-- 消息级别 -->
        <result column="rmrk" property="rmrk"/>    <!-- 备注 -->
        <result column="rmrk1" property="rmrk1"/>    <!-- 备注1 -->
        <result column="add_user_id" property="addUserId"/>    <!-- 添加人 -->
        <result column="add_date" property="addDate"/>    <!-- 添加时间 -->
    </resultMap>
    <!-- where条件语句：当字段为String时，不为空并且不为空串才作为条件；否则不为空就作为条件-->
    <sql id="whereSql">
        <where>
            <if test="search.id != null  and search.id != ''">
                and messageTemplate.id = #{search.id}
            </if>
            <if test="search.notId != null  and search.notId != ''">
                and messageTemplate.id != #{search.notId}
            </if>
            <if test="search.name != null  and search.name != ''">
                and messageTemplate.name = #{search.name}
            </if>
            <if test="search.title != null  and search.title != ''">
                and messageTemplate.title = #{search.title}
            </if>
            <if test="search.icon != null  and search.icon != ''">
                and messageTemplate.icon = #{search.icon}
            </if>
            <if test="search.titleTpl != null  and search.titleTpl != ''">
                and messageTemplate.title_tpl = #{search.titleTpl}
            </if>
            <if test="search.contentTpl != null  and search.contentTpl != ''">
                and messageTemplate.content_tpl = #{search.contentTpl}
            </if>
            <if test="search.enabled != null  and search.enabled != ''">
                and messageTemplate.enabled = #{search.enabled}
            </if>
            <if test="search.type != null  and search.type != ''">
                and messageTemplate.type = #{search.type}
            </if>
            <if test="search.level != null  and search.level != ''">
                and messageTemplate.level = #{search.level}
            </if>
            <if test="search.rmrk != null  and search.rmrk != ''">
                and messageTemplate.rmrk = #{search.rmrk}
            </if>
            <if test="search.rmrk1 != null  and search.rmrk1 != ''">
                and messageTemplate.rmrk1 = #{search.rmrk1}
            </if>
            <if test="search.addUserId != null  and search.addUserId != ''">
                and messageTemplate.add_user_id = #{search.addUserId}
            </if>
        </where>
    </sql>

    <resultMap id="messageTemplateViewMap" extends="messageTemplateMap" type="com.cditer.free.message.entity.viewmodel.MessageTemplateView">
        <result column="addUserName" property="addUserName" />
    </resultMap>

    <select id="queryCountBySearch" resultType="java.lang.Integer">
        select
        count(1)
        from base_message_template messageTemplate
        <include refid="whereSql" />
    </select>

    <sql id="viewSql">
        select
        ifnull(atuser.nick_name,atuser.`name`) as addUserName,
        <include refid="allColumns" />
        from base_message_template messageTemplate
        left join base_authority_user atuser on(messageTemplate.add_user_id = atuser.id)
    </sql>

    <select id="queryListViewBySearch" resultMap="messageTemplateViewMap">
        <include refid="viewSql" />
        <include refid="whereSql" />
        order by messageTemplate.add_date desc
        limit #{pager.currentSize},#{pager.pageSize}
    </select>

    <select id="queryModelViewBySearch" resultMap="messageTemplateViewMap">
        <include refid="viewSql" />
        <include refid="whereSql" />
    </select>
</mapper>